rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /families/{familyId}/{document=**} {
      // Временное правило для разработки: разрешаем доступ только к dev-family.
      allow read, write: if familyId == 'dev-family';
    }
  }
}
